<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="vue2.4.2.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/513f7f9432.js"></script>
  <link rel="stylesheet" href="App.css">
  <title>Hello Vue!</title>
</head>
<body>
  <div id="app">
    <div class="app-content">
      <div class="todobox">
        <div id="add-new-todo">
        <h2>{{todoTitle}} </h2>

        </div>
        <div class="todolists">
          <ul class="small-box">
            <li v-for="todoItem in todoItems"

              v-bind:class="{active: todoItem.isActive}">
              <span >
                <h3>
                  <!-- {{todoItem.isActive}} -->
                  <i class="fa fa-pencil-square-o" aria-hidden="true"
                    v-on:click="activateTodo(todoItem)">
                    {{todoItem.id}} - {{todoItem.name}}
                  </i>
                </h3>
              </span>
              <span v-if="todoItem.isActive">
                <form v-on:submit.prevent="editItem(todoItem)" >
                  <i class="fa fa-trash-o" aria-hidden="true" v-on:click="deleteItem(todoItem)"></i>
                  <input type="text" title="itemName" placeholder="item name" v-model="todoItem.name">
                  <button type="submit">Modifier</button>
                </form>
              </span>

            </li>
          </ul>
          <form v-on:submit.prevent="addItem()" >
            <label>
              Add New Item:
            </label>
              <input type="text" title="itemName" placeholder="item name" v-model="todoItem.name">
            <button type="submit">Ajouter</button>
          </form>

<!--           <div class="todo-form">
            <form v-on:submit.prevent="addTodo()">
              <h3>Add a new todo list</h3>
              <label for="todoname">Add a new todo-list</label>
              <input id="todoname" type="text" placeholder="todo name" v-model="todoName">
              <button type="submit">Ajouter</button>
            </form>

          </div>
 -->
        </div>
      </div>

    </div>

  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        todoTitle: "Here are your lists",
        // item: {title},
        todoName: "",
        todos: [],
        todoItem: {name:"", },
        todoItems: [],
        active: false,
        activeTodo: 1
      },
      created: function() {
        let ajaxUrlLocal = 'http://localhost:3000/api/todos/todos/1/items';
        // let ajaxUrlDistant = 'https://test-rails-api.herokuapp.com/api/todos/todos';
        var _this = this;
        $.ajax({
          type: "GET",
          url: ajaxUrlLocal,
          success: function(data){
          },
          error: function(jqXHR){
            console.log("error");
          }
        })
        .then(function(data) {
          if(data.length) {
            _this.todoItems = data;
          } else {
            _this.todoItems = [data];
          }
          _this.todoItems.map(function(item) {item.isActive = false});
        });
      },
      methods: {
        addTodo: function() {
          this.todos.push({id: Date.now(), name: this.todoName});
          this.todoName = null;
        },
        addItem: function() {
          console.log(this.todoItem.name);
          if(this.todoItem.name!="") {
            this.todoItems.push({name: this.todoItem.name, isActive: false});
          }
          this.todoItem.name = "";
        },
        editItem: function(todoItem) {
          let ajaxEditUrl = 'http://localhost:3000/api/todos/todos/1/items/' + todoItem.id
          $.ajax({
            type: "PATCH",
            url: ajaxEditUrl,
            data: todoItem,
            success: function(data) {
              // console.log("Successfully created gist at " + data.html_url);
            }
          });
        },
        switchMode: function(todoItem) {
          console.log(todoItem);

          this.todoItems.map(function(item) {if(item.id !== todoItem.id){item.isActive = false}});
        },
        activateTodo: function(todoItem) {
          todoItem.isActive = !todoItem.isActive;
          var index = this.todoItems.indexOf(todoItem);
          this.todoItems.splice(index, 1);
          this.todoItems.map(function(item) {item.isActive = false});
          this.todoItems.splice(index, 0, todoItem);
          // this.todoItems.push(todoItem).sort();
        },
        deleteItem: function(todoItem) {
          this.todoItems = this.todoItems.filter(function(item) { return item.id !== todoItem.id});
        }
      }
    })

  </script>
</body>
</html>
