<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="vue2.4.2.js"></script>
  <script src="https://use.fontawesome.com/513f7f9432.js"></script>
  <link rel="stylesheet" href="App.css">
  <title>Hello Vue!</title>
</head>
<body>
  <div id="app">
    <div class="app-content">
      <div class="todobox">
        <div id="add-new-todo">
        <h2>{{todoTitle}} </h2>

        </div>
        <div class="todolists">
          <ul class="small-box">
            <li v-for="todoItem in todoItems"
              v-bind:class="{active: todoItem.isInEditMode}" >
              <span>
                <h3><i
                  class="fa fa-pencil-square-o"
                  aria-hidden="true"
                  v-on:click="switchMode(todoItem)"> {{todoItem.title}}</i>
                </h3>
              </span>
              <span v-if="todoItem.isInEditMode">
                <form v-on:submit.prevent="editItem()" >
                  <i class="fa fa-trash-o" aria-hidden="true" v-on:click="deleteItem(todoItem)"></i>
                  <input type="text" title="itemTitle" placeholder="item title" v-model="todoItem.title">
                  <button type="submit">Modifier</button>
                </form>
              </span>

            </li>
          </ul>
          <form v-on:submit.prevent="addItem()" >
            <label>
              Add New Item:
            </label>
              <input type="text" title="itemTitle" placeholder="item title" v-model="todoItem.title">
            <button type="submit">Ajouter</button>
          </form>

<!--           <div class="todo-form">
            <form v-on:submit.prevent="addTodo()">
              <h3>Add a new todo list</h3>
              <label for="todoname">Add a new todo-list</label>
              <input id="todoname" type="text" placeholder="todo name" v-model="todoName">
              <button type="submit">Ajouter</button>
            </form>

          </div>
 -->
        </div>
      </div>

    </div>

  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        todoTitle: "Here are your lists",
        // item: {title},
        todoName: "",
        todos: [],
        todoItem: {title:""},
        todoItems: [],
        active: false
      },
      methods: {
        addTodo: function() {
          this.todos.push({id: Date.now(), name: this.todoName});
          this.todoName = null;
        },
        addItem: function() {
          console.log(this.todoItem.title);
          if(this.todoItem.title!="") {
            this.todoItems.push({id: Date.now(), title: this.todoItem.title, isInEditMode: false});
          }
          this.todoItem.title = "";
        },
        editItem: function(todoItem) {
          todoItem.isInEditMode = !todoItem.isInEditMode;
        },
        switchMode: function(todoItem) {
          todoItem.isInEditMode = !todoItem.isInEditMode;
          this.todoItems.map(function(item) {if(item.id !== todoItem.id){item.isInEditMode = false}});
        },
        deleteItem: function(todoItem) {
          this.todoItems = this.todoItems.filter(function(item) { return item.id !== todoItem.id});
        }
      }
    })

  </script>
</body>
</html>
